{% extends "_layout" %}

{% set templateName = "person" %}

{% block content %}

    <article class="person has-article-color" id="onedayportray-person" data-articlecolor="{{ entry.articleColor }}">

        <div class="container container--wfull person__cover">

            <div class="person__cover__image person__cover__image--position-{{ entry.coverPosition }}" style="background-image: url('{{ entry.personCover.first().getUrl('cover') }}');" data-image="{{ entry.personCover.first().getUrl('cover') }}"></div>
	    <div class="person__cover__overlay"></div>

            <div class="logo-container">
                <a href="{{ siteUrl }}" class="odp-logo odp-logo--home"></a>
            </div>

            <div class="od-navigation navigation--person navigation--white navigation--absolute">
                {% import 'partials/_navigation' as Navigation  %}
                {{ Navigation.navigation_menu(entry.id) }}
            </div>

        </div>

        <div class="container container--wconstrained container--bottom-margin">

            {% cache %}

                <div class="person__header">
                    <h1 class="person__header__title" style="color: {{ entry.articleColor }};">{{ entry.title }}</h1>
                </div>

                <div class="person__body">

                    <div class="person__body__text">
                        {{ entry.personText }}
                    </div>

                    {% include 'profile/_profile' %}

                </div>


                {% set relatedArticles = craft.entries.section('article').relatedTo(entry) %}

                {% if relatedArticles|length %}

                    <aside class="article-footer article-footer--reccomendations">
                        <span class="article-footer__headline">
                            {{ "Portraits by {Name}"|t({Name: entry.title}) }}
                        </span>

                        <div class="article-footer__recommended_articles article-grid">
                            {% for article in relatedArticles %}
                                {% include 'partials/_linkblock' with {article: article} %}
                            {% endfor %}
                        </div>
                    </aside>

                {% endif %}

            {% endcache %}


        </div>
        
        {% include 'partials/_footer' %}

    </article>

{% endblock %}
