<div class="article-body__block article-body__block__gallery">

    <div class="article-gallery__wrapper">
    <div class="article-gallery gallery">
        <div class="static-banner gallery__count" style="color: {{ entry.articleColor }};">1/{{ block.images|length }}</div>
        <div class="static-banner gallery__caption"></div>

        <div class="static-banner gallery__arrow gallery__prev">
            <svg width="64px" height="39px" viewBox="0 0 64 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g id="Artboard-1" transform="translate(-18.000000, -31.000000)" stroke="{{ entry.articleColor }}" stroke-width="2">
                        <g id="Line-+-Line-+-Line-Copy" transform="translate(19.000000, 32.000000)">
                            <path d="M1.5,18 L61.5,18" id="Line"></path>
                            <path d="M0.5,18.5 L18.3465691,0.653431714" id="Line"></path>
                            <path d="M0.5,18.5 L18.3465691,36.3465683" id="Line-Copy"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <div class="static-banner gallery__arrow gallery__next">
            <svg width="64px" height="39px" viewBox="0 0 64 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g id="Artboard-1" transform="translate(-18.000000, -31.000000)" stroke="{{ entry.articleColor }}" stroke-width="2">
                        <g id="Line-+-Line-+-Line-Copy" transform="translate(50.000000, 50.500000) scale(-1, 1) translate(-50.000000, -50.500000) translate(19.000000, 32.000000)">
                            <path d="M1.5,18 L61.5,18" id="Line"></path>
                            <path d="M0.5,18.5 L18.3465691,0.653431714" id="Line"></path>
                            <path d="M0.5,18.5 L18.3465691,36.3465683" id="Line-Copy"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        {% for image in block.images %}
            <div class="gallery__cell" data-caption="{{ image.imageCaption }}">
                <div class="gallery__cell__image" style="background-image: url('{{ image.getUrl('large') }}');"></div>
            </div>
        {% endfor %}

    </div>
    </div>
</div>