{% if persons|length or noProfilePersons|length %}

    <div class="meta-entry">

        <div class="meta-entry__tagline">{{ tagline }}</div>

            <div class="meta-entry__entry">

                {% for personEntry in persons %}
                    <a class="meta__link" href="{{ personEntry.getUrl() }}">{{ personEntry }}</a><br>
                {% endfor %}

                {% for person in noProfilePersons %}
                    {% if person.personWebsite %}
                        {% set link = (person.personWebsite starts with 'http') ? person.personWebsite : 'http://' ~ person.personWebsite %}
                        <a class="meta__link" href="{{ link }}">{{ person.personName }}</a><br>
                    {% else %}
                        {{ person.personName }}<br>
                    {% endif %}
                {% endfor %}

            </div>
    </div>

{% endif %}