<aside class="article-body__meta" style="color: {{ entry.articleColor }};">

    {% if entry.sponsors|length %}

        <div class="meta-entry">
            <div class="meta-entry__tagline">{{ "Sponsored By" |t }}</div>
            {% for sponsor in entry.sponsors %}
                <div class="meta-entry__entry">
                    {% if sponsor.sponsorWebsite %}
                        <a class="meta__link" href="{{ sponsor.sponsorWebsite }}">{{ sponsor.sponsorName }}</a>
                    {% else %}
                        {{ sponsor.sponsorName }}
                    {% endif %}
                </div>
            {%  endfor %}
        </div>

    {% endif %}

    {% set meta_author = 'Text by'|t %}
    {% include 'article/elements/_meta-entry' with {persons : entry.authors, noProfilePersons: entry.noProfileAuthors, tagline: meta_author} %}

    {% set meta_photographer = 'Photographs by'|t %}
    {% include 'article/elements/_meta-entry' with {persons : entry.photographers, noProfilePersons: entry.noProfilePhotographers, tagline: meta_photographer} %}

    {% set meta_translator = 'Translation by'|t %}
    {% include 'article/elements/_meta-entry' with {persons : entry.translators, noProfilePersons: entry.noProfileTranslators, tagline: meta_translator} %}

    <div class="meta-entry">
        <div class="meta-entry__tagline">{{ "Portrayed" |t }}</div>
        <div class="meta-entry__entry">{{ (entry.dateDisplay == "day") ? ((craft.locale == "de") ? entry.articleDate|date("j. F Y")|t : entry.articleDate|date("j F Y")|t) : entry.articleDate|date("F Y")|t }}</div>
    </div>

    <div class="meta-entry hide-print">
        <div class="meta-entry__tagline">{{ entry.profileName }}</div>
        <div class="meta-entry__entry">
            {% include 'profile/_profile-link' with { name: entry.profileName, gender: entry.profileGender } %}
        </div>
    </div>

    <div class="meta-entry hide-print">
        <div class="meta-entry__entry">
            <a href="javascript:window.print()">{{ "Print Portrait"|t }}</a>
        </div>
    </div>

    &nbsp;
</aside>