{% extends "_layout" %}

{% set templateName = "article" %}


{% block scripts %}
	<script src="/assets/js/vendor/zoom.js"></script>
{% endblock %}

{% block content %}

	<article class="portray has-article-color" id="onedayportray-article" data-articlecolor="{{ entry.articleColor }}">

		<div class="container container--wfull portray__cover">

			{% cache %}

				<div class="portray__cover__image portray__cover__image--position-{{ entry.coverPosition }}" style="background-image: url('{{ entry.cover.first().getUrl('cover') }}');" data-image="{{ entry.cover.first().getUrl('cover') }}"></div>
				<div class="portray__cover__overlay"></div>

				<div class="logo-container">
					<a href="{{ siteUrl }}" class="odp-logo odp-logo--home"></a>
				</div>

				<div class="od-navigation navigation--article navigation--white navigation--absolute">
					{% import 'partials/_navigation' as Navigation  %}
					{{ Navigation.navigation_menu(entry.id) }}
				</div>

				{% if entry.nightPortray %}
					<div class="portray__cover__night-portray">
						{{ "Night Portrait"|t }}
					</div>
				{% endif %}


			{% endcache %}

		</div>

		<div class="container container--wconstrained">

			{% cache %}

				<div class="article__header">
					<h1 class="article__header__title" style="color: {{ entry.articleColor }};">{{ entry.articleTitle }}</h1>
					<h4 class="article__header__location" style="color: {{ entry.articleColor }};">
						{% include 'partials/_location' with {locations : entry.articleLocations} %}
					</h4>
					<p class="article__header__lead">{{ entry.lead }}</p>
				</div>

				<div class="article-body">

					{% include 'article/elements/_meta' %}

					{% set previousBlock = null %}

					{# Loop throug Article Blocks #}
					{% for block in entry.articleBody %}

						{% switch block.type %}

							{% case "text" %}

								<div class="
									article-body__block
									article-body__block__text
									{{ (block == entry.articleBody.first() and block.image|length == 0) ? 'article-body__block__text--first-paragraph' : false }}
									{{ (block.disableMargin and previousBlock and
												(previousBlock.type == 'text')
											) ? 'article-body__block__text--disable-margin' : false }}
									">

									{% if block.image|length %}

										{% set image = block.image.first() %}

										<div class="article-body__block__text__floating-image">
											<img src="{{ image.getUrl('large') }}" alt="{{ image.imageCaption }}" data-action="zoom">
										</div>
									{% endif %}

									{{ block.text }}

								</div>

							{% case "quote" %}

								<div class="article-body__block article-body__block__quote" style="color: {{ entry.articleColor }};">
									{{ block.quote }}
								</div>

							{% case "soundcloud" %}

								<div class="article-body__block article-body__block__soundcloud">
									<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ block.trackUrl|escape }}&amp;color={{ entry.articleColor|trim('#') }}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
								</div>

							{% case "youtube" %}

								<div class="article-body__block article-body__block__youtube">
									<div class="youtube__video-container">
										<iframe id="ytplayer" type="text/html" width="100%" height="100%"
											src="https://youtube.com/embed/{{ block.videoId }}"
											frameborder="0"></iframe>
										</div>
								</div>

							{% case "vimeo" %}

								<div class="article-body__block article-body__block__youtube">
									<div class="youtube__video-container">
										<iframe src="https://player.vimeo.com/video/{{ block.videoId }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										</div>
								</div>

							{% case "gallery" %}

								{% include 'article/elements/_gallery' with {entry : entry, block: block} %}

							{% case "image" %}

								{% set image = block.image.first() %}

								<div class="article-body__block article-body__block__image article-image">
									<div class="image-element">
										<div class="image-element__wrapper">
											<img src="{{ image.getUrl('large') }}" alt="{{ image.imageCaption }}" data-action="zoom">
										</div>
									</div>
									{% if(image.imageCaption) %}
									<div class="image-caption">{{ image.imageCaption }}</div>
									{% endif %}

								</div>

						{% endswitch %}

						{% set previousBlock = block %}

					{% endfor %}


					{% include 'profile/_profile' %}

				</div>

				<aside class="article-footer article-footer--share">
					<span class="article-footer__headline">
						{{ "Did you enjoy the portrait? Share it with your friends:"|t }}
					</span>

					<div class="article-footer__share-links" style="color: {{ entry.articleColor }};">
						<a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}" target="_blank">Facebook</a>
						<a href="https://twitter.com/intent/tweet?text={{ entry.title }}%20%7C%20{{ entry.url }}%20@onedayportray" target="_blank">Twitter</a>
						<a href="mailto:?subject={{ siteName }}: {{ entry.title }}&body={{ 'Hello friend!%0D%0A I found this portrait on onedayportray.com and thought you\'d like it.%0D%0A%0D%0A{name}: {link}%0D%0A%0D%0AEnjoy!'|t({ link: entry.url, name: entry.title }) }}" target="_blank">E-Mail</a>
					</div>
				</aside>

				{% if entry.relatedArticles|length %}
					<aside class="article-footer article-footer--reccomendations">
						<span class="article-footer__headline">
							{{ "Related Portraits"|t }}
						</span>

						<div class="article-footer__recommended_articles article-grid">
							{% for article in entry.relatedArticles %}
								{% include 'partials/_linkblock' with {article: article} %}
							{% endfor %}
						</div>
					</aside>
				{% endif %}

			{% endcache %}

			{% include 'partials/_footer' %}

		</div>

	</article>

{% endblock %}
