{% extends "_layout" %}

{% set templateName = "search" %}

{% block content %}

    <section class="search">

        {% set query = craft.request.getParam('q') %}
        {% set articles = craft.entries.section('article').search(query).order('score') %}

        <div class="article-group">

            {% if articles|length %}

                    <h2 class="article-group__title">{{ "Results for “{query}“"|t({ query:query }) }}</h2>
                    <div class="archive-group__articles article-grid">
                        {% for article in articles %}
                            {% include 'partials/_linkblock' with {article: article} %}
                        {% endfor %}
                    </div>

            {% else %}

                <h2 class="article-group__title article-group__title--small">{{ "Your search for “{query}“ didn’t return any results."|t({query:query}) }}</h2>

            {% endif %}

            <div class="article-group__spacer clearfix"></div>

        </div>


        {% include 'partials/_footer' %}

    </section>

{% endblock %}
