.about__title {

  font-family: $f-inkwell-regular;
  color: $od-grey;
  font-size: em(50);
  line-height: 1;
  margin-bottom: 30px;

  clear: both;
  max-width: 100%;

  &--small {
    font-size: em(30);
  }

  @include media($article-tablet){
    font-size: 5vw;
  }

  @include media($article-mobile){
    font-size: em(30);
  }
}

.about-body {

  @include outer-container;
  margin-top: 35px;
  margin-bottom: 60px;

  p {
    font-size: em(18);
  }

  img {
    max-width: 100%;
  }

}

.about-body__block {

  @include omega();

  p {
    margin-bottom: em(24);
  }

  &__text {
    @include span-columns(8);
    @include shift(3);

    &--credits {
      margin-top: 80px;
      font-family: $f-inkwell-regular;
      color: $od-grey;
      font-size: em(11);
    }
  }

  &__image {
    @include span-columns(12);

    margin-bottom: 30px;
    margin-top: 10px;

    .image-element {
      max-height: 640px;
      max-width: 100%;
      text-align: center;

      &__wrapper {
        max-width: 100%;

        img {
          max-height: 640px;
          max-width: 100%;
          object-fit: contain;
        }

      }

    }
  }
}

@include media($article-mobile) {

  .about-body__block {

    &__text {
      @include span-columns(6);
      @include shift(0);
    }

    &__image {
      @include span-columns(6);
    }
  }
}

