section.archive,
section.search,
article.about
{

  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 180px;
  min-height: 100%;
  position: relative;
  padding-bottom: 120px;

  @include media($archive-break){
    border-width: 20px;
    padding-top: 80px;
    width: 100%;
  }

  @include media($mobile){
    padding-bottom: 0;
  }

}


article.about {
  @include media($archive-break){
    width: auto;
  }
}

.article-group {
  clear: both;
  margin-bottom: 50px;
  max-width: 100%;

  &:last-child {
    background-color: red;
  }
}

.article-grid {
  max-width: 100%;
}

.article-group__title {
  font-family: $f-inkwell-regular;
  color: $od-grey;
  font-size: em(50);
  line-height: 1;
  margin-bottom: 30px;

  &--small {
    font-size: em(30);
  }

  @include media($article-tablet){
    font-size: 5vw;
  }

  @include media($article-mobile){
    font-size: em(30);
  }

}
