.blog-wrapper {
  display: block;
  max-width: 100%;
  width: $blog-width;
  margin: 170px auto 0 auto;

  &.blog-single {
    width: 555px;
    margin-top: 0;
  }

  @include media($mobile) {
    margin-top: 85px;
  }
}

.blog-grid {
  margin: 0 auto;
  max-width: 100%;
}

.blog-stamp {
  height: 300px;
  width: 555px;
  position: absolute;
  right: 0;
  top: 0;

  @include media($blog-one-column) {
    display: none;
  }
}

.blog-entry {
  width: 555px;
  max-width: 100%;
  display: block;
  float: left;
  opacity: 0;
  margin-bottom: 170px;

  @include media($blog-one-column) {
    padding: 0 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
  }

  //@include media($mobile) {
  //  margin-bottom: 100px;
  //}

  &.has-been-added {
    opacity: 1;
  }

}

.blog-single .blog-entry{
  float: none;
  padding-top: 170px;
  margin-bottom: 0;
}

.blog-entry__post-date {
  width: 100%;
  text-align: center;
  font-family: $f-inkwell-regular;
  font-size: em(17);
  line-height: (22/17);
  color: $od-grey;
}

.blog-entry__title {
  width: 100%;
  text-align: center;
  font-family: $f-inkwell-regular;
  font-size: em(35);
  line-height: 1;
  color: $od-grey;
  margin: 2px 0 22px 0;
}

.blog-entry__cover {
  img {
    max-width: 100%;
  }
}

.blog-entry__paragraph {
  margin-top: 12px;
}

.blog-entry__paragraph p {
  color: $od-black;
  font-size: em(18);
  line-height: (32/18);
  margin-bottom: em(24);
  max-width: 100%;
}

.blog-entry__paragraph img {
  max-width: 100%;
}

.blog-entry__author {
  font-family: $f-inkwell-regular;
  color: $od-grey;
  margin-top: 8px;

  &__small {
    font-size: em(13);
    line-height: (22/13);
  }

  &__entry {
    font-size: em(18);
    line-height: (22/13);
  }
}

.blog-paginate-link {
  display: none;
}