.page-footer {
  border-top: 1px solid $od-light-grey;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 120px;
  text-align: center;
  @include outer-container(em(964));

  @media print {
    display: none;
  }
}

/*
TODO: use classes eg. page-footer--no-margin
*/

.article .page-footer,
.person .page-footer,
.blog .page-footer {
  margin-top: 0;
}

.search .page-footer,
.archive .page-footer,
.about .page-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  width:em(964);
  max-width: 100%;
  transform: translateX(-50%);

  @include media($mobile) {
    position: relative;
    left: auto;
    transform: translateX(0);
    bottom: auto;
    margin-top: 40px;
  }

}


.page-footer__links {

  list-style-type: none;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  max-width: 100%;
  box-sizing: border-box;

}

.page-footer__links__link {

  margin: 0;
  padding: 0;
  display: inline;

  a {
    color: $od-grey;
    border: none;
    font-family: $f-inkwell-regular;
    font-size: em(14);
    white-space: nowrap;

    &:after {
      content: "·";
      margin-right: 8px;
      margin-left: 12px;

      @include media($nav-search-break) {
        content: "";
      }

    }

  }
  &:last-of-type {
    a:after {
      margin: 0;
      content: "";
    }
  }
}
