


.odp-home-logo {
  @include article-card;

  background: url("../images/1dp_white.png") no-repeat center center;
  background-size: 140px 140px;
}

.article-cards {

  position: relative;
  height: 100%;
  width: 100%;
  min-height: 500px;

  overflow: hidden;

  @include media($mobile) {
    min-height: 440px;
  }

}

.article-card {

  @include article-card;

  backface-visibility: hidden;

  padding: 0;
  z-index: 44;

  cursor: grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  visibility: hidden;
  &.is-enabled {
    visibility: visible;
  }

}

.is-on-pile {
  pointer-events: none;
}

.is-on-pile.is-top-card {
  pointer-events: auto;
}

.article-card__cover {

  width: 100%;
  height: 100%;

  background: transparent no-repeat center center;
  background-size: cover;

  box-shadow: 0 1px 3px rgb(0,0,0);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.article-card__cover__night-portray {
  width: 11%;
  height: 11%;
  top: 4%;
  left: 4%;
  position: absolute;
  background: url("../images/night_icon.png") no-repeat left top;
  background-size: contain;

}

.article-card__meta {
  display: none;
}

.throw-out {
  transition: all .4s ease-out;
}

.has-been-thrown-out {
  display: none;
}

.article-meta {

  $widenessFactor: 1.4;

  position: absolute;
  left: 50%;
  top: 50%;
  user-select: none;

  transition: opacity .2s ease-out;
  transform: translateY(100%);

  @include article-card-size-vmin(
          $cover-size * $widenessFactor,
          $cover-size,
          $cover-negative-margin,
          $cover-negative-margin * $widenessFactor,
          $cover-size-mobile,
          $cover-size-mobile,
          $cover-negative-margin-mobile + 5,
          $cover-negative-margin-mobile
  );

  text-align: center;

  z-index: 1;
  color: #fff;

}

.fade-out {
  opacity: 0;
}

.article-meta__title {
  width: 100%;
  text-align: center;

  font-family: $f-inkwell-regular;
  margin-top: 5px;

  font-size: 5vm;
  font-size: 5vmin;

  line-height: (45/35);

  a {
    border-width: 2px;

    @include media($mobile) {
      border-width: 1px;
    }
  }

  a:hover {
    border: none;
  }

}

.article-meta__location {
  font-family: $f-inkwell-regular;
  font-size: em(17);
  line-height: (22/17);
  margin-top: 10px;

  @include media($mobile) {
    font-size: em(13);
  }
  @include media(new-breakpoint(max-height $min-height-desktop)) {
    font-size: em(13);
  }
}

.article-cards__tooltip {
  @include article-card;
  pointer-events: none;
  z-index: 50;
}

.article-cards__tooltip-span {
  display: none;
  font-family: $f-inkwell-regular;
  font-size: em(15);
  letter-spacing: 0.05em;
  color: #fff;
}

.article-card:hover~.article-cards__tooltip .article-cards__tooltip-span{
  display:block;
  position:fixed;
  overflow:hidden;
}


// Read Portrait Link

/*

.article-link__wrapper {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.article-link__button {
  color: #fff;
  font-family: $f-inkwell-regular;
  font-size: em(17);
  line-height: (22/17);
  border: 2px solid #fff;
  display: inline-block;
  padding: 9px 35px 10px 12px;
  z-index: 2;
  position: relative;
  margin-left: -15px;
}

.article-link__arrow {
  margin-left: -30px;
  margin-bottom: -3px;
  z-index: 1;
}
*/
