@mixin small-logo() {
  background-image: url("../images/1dpsm_white.png");
  height: 29px;
  width: 29px;
  top: 18px;
  left: 18px;
}

.logo-container {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 100px;
  height: 100px;
  z-index: 35;
  background: transparent url("../images/1dp_white_w200h200.png") no-repeat center center;
  background-size: contain;

  transition: all .2s cubic-bezier(0.5, 0.01, 0.15, 1.57);

  backface-visibility: hidden;
  transform: translate3d(0,0,0);

  @include media($nav-break){
    @include small-logo;
  }

  &.logo-container--small {

    @include small-logo;

    opacity: 0;
    transition: all .2s ease;

    top: 24px;
    left: -30px;

    @include media($nav-break){
      top: 18px;
      left: -30px;
      opacity: 1;
    }
  }

  &:hover {
    transform: rotate(15deg) translate3d(0,0,0);
  }

}

.odp-logo {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

.search .logo-container,
.blog .logo-container,
.archive .logo-container,
.about .logo-container,
.error .logo-container,
.blog-single .logo-container
{

  background-image: url("../images/1dp_grey_w200h200.png");

  @include media($nav-break){
    background-image: url("../images/1dpsm_white.png");
    display: none;
  }

  &.logo-container--small {

    background-image: url("../images/1dpsm_grey.png");
    display: block;

    left: 24px;

    @include media($nav-break){
      left: 18px;
    }

  }
}


.home .logo-container {
  @include is-enabled;
  transition: all .2s cubic-bezier(0.5, 0.01, 0.15, 1.57);
}

.navigation--home {
  @include is-enabled;
}


.main-navigation .logo-container--small {
  background-image: url("../images/1dpsm_grey.png");
}

.main-navigation.show-logo .logo-container--small {
  opacity: 1;
  left: 24px;
  @include media($nav-break){
    left: 18px;
  }
}