.od-navigation {

  width: 100%;
  height: 74px;
  position:fixed;
  top:0;
  left:0;

  transition: all .3s ease-out;
  transform-origin: 50% 0;
  backface-visibility: hidden;
  perspective: 800px;

  display: block;
  overflow: hidden;
  z-index: 10;

  &.is-moved-up {
    //transform: rotateX(-90deg);
    transform: translateY(-100%);
  }

  @media print {
    display: none;
  }

}

.main-navigation__background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  z-index: 20;
}

.navigation__menu {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 30;
  margin: 14px auto;
  text-align: center;

  @include media($nav-break){
    margin: 18px auto;
  }

  &__link {
    display: inline-block;
    font-family: $f-inkwell-regular;
    font-size: em(24);
    color: $od-grey;
    margin: 0 8px;

    a {
      border-bottom-width: 0;
      border-color: $od-nav-underline;

      &:hover, &.is-active {
        border-bottom-width: 1px;
        opacity: 1;
      }

    }

    @include media($nav-break){
      font-size: em(16);
    }

    @include media($mobile-small){
      margin: 0 4px;
      font-size: em(14);
      transform: translateX(-10px);
    }

  }
}

.search-is-expanded .navigation__menu {
  @include media($nav-search-break){
    display: none;
  }
}


.navigation__language {

  display: inline-block;
  position: absolute;
  z-index: 30;
  top: 19px;
  right: 25px;
  overflow: hidden;

  a {
    color: $od-grey-purple;
    border: none;
    font-family: $f-inkwell-regular;
    font-size: em(13);
    line-height: (22/13);
  }

  .short-lang {
    display: none;
    text-transform: capitalize;
  }

  @include media($nav-break){

    .short-lang {
      display: inline;
    }
    .full-lang {
      display: none;
    }

  }
}

.navigation--white {
  a {
    color: #fff;
    border-color: #fff;
  }
}

.navigation--absolute {
  position: absolute;
}


