
article.person {
  height: 100%;
  margin-bottom: 40px;
}

.person__header {
  @include od-title-container;
}

.person__cover {
  @include od-cover;
}

.person__body {
  @include outer-container;
  margin-top: 60px;
  margin-bottom: 60px;

  p {
    margin-bottom: em(24);
  }

  &__text {

    @include span-columns(8);
    @include shift(3);

    font-size: em(18);


    @include media($article-tablet) {
      @include span-columns(6);
      @include shift(0);
    }
  }

}