.navigation__search {
  display: inline-block;
  height: 50px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 90px;
  z-index: 30;

  @include media($nav-break){
    right: 45px;
  }

}

.search-input {
  height: 50px;
  font-size: em(18);
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0;
  background-color: $od-search-grey;
  font-family: $f-inkwell-regular;
  cursor: text;
  border-radius: 0;
  transition: width 0.2s ease;

  &.is-expanded {
    width: 200px;
  }

}

.search-submit {
  outline: none;
  display: inline-block;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  cursor: pointer;
  width: 23px;
  height: 23px;
  background: transparent url('../images/search_grey.png') no-repeat;
  background-size: 100% 100%;

  &:hover {
    opacity: 0.7;
  }

}

.search-submit.is-open {
  background-image: url('../images/search_white.png');
  background-size: 23px 23px;
}

.navigation--white .search-submit {
  background-image: url('../images/search_white.png');
}
