html, body {
  height: 100%;
}

body {
  font-family: $f-lora;
  line-height: (32/18);
  font-size: 100%;

  color: $od-black;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

  &.home {
    overflow: hidden;
  }
}

main#content {
  height: 100%;
  display: block;
}

.container--wconstrained {
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  overflow: hidden;
}

.container--bottom-margin {
  padding-bottom: 20px;
}

.error-page {
  margin-top: 120px;
  text-align: center;
}

.error__title {
  font-family: $f-inkwell-regular;
  font-size: em(24);
  color: $od-grey;
  letter-spacing: 0.02em;
  font-weight: normal;
  display: block;
  border: none;
}

.error__gif {
  margin: 40px auto 0 auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    border-bottom-width: 0;
    opacity: 0.7;
  }
}

@media print
{
  * {-webkit-print-color-adjust:exact;}
}


// Placeholder


#placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #748083;
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    background-size: contain;
    background-position: center center;
    background: url('../images/odp_logo.png') no-repeat;

    &:after {
      content: "10.10 / 10.10pm";
      color: white;
      text-align: center;
      display: block;
      font-family: $f-inkwell-regular;
      width: 100%;
      margin-top: 218px;
    }
  }
}
