@mixin od-cover() {

  width: 100%;
  padding-bottom: 66.66%; /* 16:9 */

  position: relative;
  z-index: 40;
  overflow: hidden;


  opacity: 0;
  @media print {
    opacity: 1;
  }

  @include media($article-cover-stop){
    height: 736px;
    padding-bottom: 0;
  }

  &__image {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position:  50% 50%;
    position: absolute;

    &--position-top {
      background-position:  50% 0;
    }

    &--position-bottom {
      background-position:  50% 100%;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    @include linear-gradient(rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 44%, $fallback: transparent);

    @media print {
      background: transparent;
    }
  }



  @media print {
    padding-bottom: 0;
    height: (595 * 0.75) * 1px;
  }

}