@mixin is-enabled() {

  opacity: 0;
  transition: opacity .3s ease;

  &.is-enabled {
    opacity: 1;
  }

}

@mixin article-card-size-vmin(
  $width, $height, $margin-top, $margin-left,
  $mobile-width, $mobile-height, $mobile-margin-top, $mobile-margin-left
) {

  margin-top: $margin-top * 1vm;
  margin-top: $margin-top * 1vmin;

  margin-left: $margin-left * 1vm;
  margin-left: $margin-left * 1vmin;

  width: $width * 1vm;
  width: $width * 1vmin;

  height: $height * 1vm;
  height: $height * 1vmin;


  @include media($mobile) {
    margin-top: $mobile-margin-top * 1vm;
    margin-top: $mobile-margin-top * 1vmin;

    margin-left: $mobile-margin-left * 1vm;
    margin-left: $mobile-margin-left * 1vmin;

    width: $mobile-width * 1vm;
    width: $mobile-width * 1vmin;

    height: $mobile-height * 1vm;
    height: $mobile-height * 1vmin;
  }

  @include media(new-breakpoint(max-height $min-height-desktop)) {
    margin-top: $mobile-margin-top * 1vm;
    margin-top: $mobile-margin-top * 1vmin;
  }
}



@mixin article-card() {

  position: absolute;
  left: 50%;
  top: 50%;

  @include article-card-size-vmin(
          $cover-size, $cover-size, $cover-negative-margin - 5, $cover-negative-margin,
          $cover-size-mobile, $cover-size-mobile, $cover-negative-margin-mobile, $cover-negative-margin-mobile
  );

}