
@mixin od-big-title() {
  font-family: $f-inkwell-regular;
  text-align: center;

  font-size: em(70);
  line-height: 1.2;
  margin-top: 25px;

  @include media($article-tablet) {
    font-size: 7vw;
  }

  @include media($article-mobile) {
    font-size: 8vw;
    line-height: 1.1;
  }

  @include media($mobile) {
    font-size: 14vw;
  }
}

@mixin od-big-title-location() {
  font-family: $f-inkwell-regular;
  text-align: center;
  font-size: em(17);
  line-height: 1.3;
  margin-top: 4px;

  @include media($article-mobile) {
    font-size: em(15);
  }
}

@mixin od-title-container() {
  margin-top: 25px;
  @include outer-container;

  &__title, &__location {
    @include span-columns(12);
    @include omega();
  }

  &__title {
    @include od-big-title;
  }

  &__location {
    @include od-big-title-location;
  }

}