<div class="page-footer">
    <ul class="page-footer__links">

        {% cache globally %}

            {% for block in footer.footerLinks %}

                {% if block.type == "externalLink" %}

                    {% set link = (block.linkUrl starts with 'http') ? block.linkUrl : 'http://' ~ block.linkUrl %}
                    <li class="page-footer__links__link"><a href="{{ link }}" target="_blank">{{ block.linkName }}</a></li>

                {% elseif block.type == "internalLink" %}

                    {% for link in block.linkedAsset %}
                        <li class="page-footer__links__link"><a href="{{ link.url }}" >{{ link }}</a></li>
                    {% endfor %}

                {% endif %}

            {% endfor %}

        {% endcache %}

        <li class="page-footer__links__link"><a href="http://y7k.com" target="_blank">Made by Y7K</a></li>

    </ul>
</div>
