

{% macro locale_link(url, locale, localeName) %}
    <span class="navigation__language"><a href="{{ url }}" hreflang="{{ locale }}" class="navigation__language__link" ><span class="full-lang">{{ localeName }}</span> <span class="short-lang">{{ locale }}</span></a></span>
{% endmacro %}


{% set locale = (craft.locale=='de') ? 'en' : 'de' %}
{% set localeName = craft.i18n.getLocaleById( locale ).nativeName %}

{% if entryId %}
    {# Find the current entry in the other locale #}
    {% set localeEntry = craft.entries.id( entryId ).locale( locale ).first() %}

    {# Make sure that it's actually localized to this locale #}
    {% if localeEntry is not null and localeEntry.locale == locale %}

        {# Output a link to it #}
        {{ _self.locale_link( localeEntry.getUrl(), locale, localeName ) }}
    {% else %}

        {# Output a link to the hompage #}
        {{ _self.locale_link( craft.config.siteUrl[locale], locale, localeName ) }}
    {% endif %}

{% else %}

    {% set pageUri = craft.request.url|replace(siteUrl, '') %}
    {{ _self.locale_link( craft.config.siteUrl[locale] ~ pageUri, locale, localeName ) }}

{% endif %}