<div class="article-block article-grid-item">
    <a href="{{ article.url }}">

        <img class="article-block__cover" src="{{ article.cover.first().getUrl('thumb') }}">

        <div class="article-block__head">
            <div class="article-block__head__title">{{ article.title[:46] }}{{ (article.title|length>46) ? '...' : '' }}</div>
            {% set location = article.articleLocations.first().location %}
            <div class="article-block__head__location">{{ "in {City}, {Country}"|t({ 'City': location.city, 'Country': location.country }) }}</div>
        </div>

        {% if article.nightPortray %}
            <div class="article-block__night-portray"></div>
        {% endif %}

    </a>
</div>