{% set location = locations.first().location %}
{% if location.city and location.country %}
    {{ "in {City}, {Country}"|t({'City':location.city, 'Country':location.country}) }}
{% elseif location.city %}
    {{ "in {City}"|t({'City':location.city}) }}
{% elseif location.country %}
    {{ "in {Country}"|t({'Country':location.country}) }}
{% endif %}