
{% macro is_active(segment) %}{% if craft.request.firstSegment == segment %}is-active{% endif %}{% endmacro %}

{% macro navigation_menu(entryId) %}

    <div class="logo-container logo-container--small">
        <a href="{{ siteUrl }}" class="odp-logo"></a>
    </div>

    <ul class="navigation__menu">
        {% for handle in ['portraits', 'blog', 'about'] %}
            {#{% set section = craft.sections.getSectionByHandle(handle) %}#}
            {#<li class="navigation__menu__link"><a href="{{ section.hasUrls ? siteUrl ~ section.getUrlFormat() : siteUrl ~ handle }}" class="{{ section.hasUrls ? _self.is_active(section.getUrlFormat()) : _self.is_active(handle) }}">{{ section.name }}</a></li>#}
            <li class="navigation__menu__link"><a href="{{ siteUrl ~ handle }}" class="{{ _self.is_active(handle) }}">{{ handle|capitalize }}</a></li>
        {% endfor %}
    </ul>

    <div class="navigation__search searchbar">
        <form action="{{ url('search/results') }}" autocomplete="on">
            <input name="q" class="search-input" type="text" placeholder="">
            <input class="search-submit" value="{{ 'Search'|t }}" type="submit">
        </form>
    </div>

    {% include 'partials/_language-switch' with {entryId: entryId} %}

{% endmacro %}


<nav class="main-navigation od-navigation navigation">

    {{ _self.navigation_menu(entryId) }}

    <div class="main-navigation__background"></div>
</nav>