{% if entry is defined %}

    {%  set default_seo = 'onedayportray_' ~ craft.locale %}

    {%  set coverUrl =
        (entry.cover and entry.cover|length)
        ?
            entry.cover.first().getUrl('cover')
        :
            (
                (entry.personCover and entry.personCover|length)
                ?
                    entry.personCover.first().getUrl('cover')
                :
                    ''
            )
    %}

    {% set entryTitle = (entry.articleTitle) ? entry.articleTitle : entry.title %}
    {% set entryTitle = (entry.getType() == 'homepage') ? siteName : entryTitle ~ ' – ' ~ siteName %}

    {% do craft.sproutSeo.meta({
        default: default_seo,
        title: entryTitle,
        ogTitle: entryTitle,
        description: entry.lead|striptags|slice(0, 160),
        ogImage: coverUrl,
    }) %}

{% endif %}

{{ craft.sproutSeo.optimize() }}