//$visual-grid: true !global;

$max-width: em(960) !global;
$column: em(66) !global;
$gutter: em(15) !global;


$article-tablet-width: $max-width + em(40);
$article-tablet: new-breakpoint(max-width $article-tablet-width 6);

$article-gallery-break-width: $article-tablet-width + em(200);
$article-gallery-break: new-breakpoint(max-width $article-gallery-break-width 6);


$article-mobile-width: $article-tablet-width * 0.8;
$article-mobile: new-breakpoint(max-width $article-mobile-width 6);


$article-cover-width: 1100px;
$article-cover-stop: new-breakpoint(min-width $article-cover-width);


$iphone-6s: 414px;
$mobile: new-breakpoint(max-width $iphone-6s 4);

$iphone-5: 374px;
$mobile-small: new-breakpoint(max-width $iphone-5 4);


$blog-width: 1150px;
$blog-one-column: new-breakpoint(max-width $blog-width 6);

$nav-search-break-width: 860px;
$nav-search-break: new-breakpoint(max-width $nav-search-break-width);

$nav-width: 550px;
$nav-break: new-breakpoint(max-width $nav-width);

$archive-width: (120 + 313 + 120)px;
$archive-break: new-breakpoint(max-width $nav-width);

