@font-face {
  font-family: 'Inkwell-Bold';
  src: url('../fonts/Inkwell-Bold.woff') format('woff'),
  url('../fonts/Inkwell-Bold.woff2')  format('woff2');
}

@font-face {
  font-family: 'Inkwell-Regular';
  src: url('../fonts/Inkwell-Regular.woff') format('woff'),
  url('../fonts/Inkwell-Regular.woff2')  format('woff2');
}

$f-lora: 'Lora', Georgia, serif;
$f-inkwell-regular: 'Inkwell-Regular', Arial, sans-serif;
$f-inkwell-bold: 'Inkwell-Bold', Arial, sans-serif;


