@import 'home_vars';
@import 'fonts';
@import 'colors';

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.is-hidden {
  display: none;
}

.hide-print {
  @media print {
    display: none;
  }
}

@page {
  margin: 0;
}