
$cover-size: 50; /* vmin */
$cover-size-mobile: 70; /* vmin */

$cover-negative-margin: (-( $cover-size /2));
$cover-negative-margin-mobile: (-( $cover-size-mobile /2));

$top-vh: 17vh;
$min-height-desktop: 767px;