{% extends "_layout" %}

{% set templateName = "blog" %}

{% block content %}

    <section class="blog blog-wrapper" id="onedayportray-blog">

        <div class="blog-grid">
            <div class="blog-grid-stamp blog-stamp"></div>

            {% paginate craft.entries.section('blog').limit(7) as entriesOnPage %}

            {% for entry in entriesOnPage %}

                    <article class="blog-entry blog-grid-item">
                        <div class="blog-entry__post-date">{{ entry.postDate|date("j. F Y")|t }}</div>
                        <h1 class="blog-entry__title">{{ entry.title }}</h1>

                        {% set cover = entry.blogCover.first() %}
                        {% if cover %}
                            <div class="blog-entry__cover">
                                <img src="{{ cover.getUrl('medium') }}" alt="{{ cover.imageCaption }}">
                            </div>
                        {% endif %}

                        <div class="blog-entry__paragraph">
                            {{ entry.blogText }}
                        </div>

                        {% set authors = entry.blogAuthor %}
                        {% if authors|length %}
                            <div class="blog-entry__author">
                                <span class="blog-entry__author__small">{{ "Text by"|t }}</span>
                                {% for author in authors %}

                                    {% set comma = loop.last ? '' : ',' %}

                                    {% if author.type == 'authorProfile' %}
                                        <a href="{{ author.author.first().url }}" class="blog-entry__author__entry blog-entry__author__entry--link">{{ author.author.first() }}</a>{{ comma }}
                                    {% else %}
                                        {% if author.authorWebsite %}
                                            <a href="{{ author.authorWebsite }}" class="blog-entry__author__entry blog-entry__author__entry--link">{{ author.authorName }}</a>{{ comma }}
                                        {% else %}
                                            <span class="blog-entry__author__entry">{{ author.authorName }}</span>{{ comma }}
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}
                            </div>
                        {% endif %}

                    </article>

            {% endfor %}

            {% if paginate.nextUrl %}
                <a href="{{ paginate.nextUrl }}" id="blog-paginate-next" class="blog-paginate-link"></a>
            {% endif %}

        </div>

        {% include 'partials/_footer' %}

    </section>


{% endblock %}