{% extends "_layout" %}

{% set templateName = "error" %}

{% block content %}
	<div class="container container--wconstrained error-page">
		<a href="{{ siteUrl }}" class="error__title">{{ "Page not found :-("|t }}</a>
		<img class="error__gif" src="/assets/images/error.gif" alt="{{ 'Page not found'|t }}">
	</div>
{% endblock %}
