{% extends "_layout" %}

{% set templateName = "error" %}

{% block content %}
	<div class="container container--wconstrained error-page">
		<span class="error__title">{{ "Something went wrong. :-("|t }}</span>
		<small>A notification has been sent.</small><br>
		<img class="error__gif" src="/assets/images/error.gif" alt="{{ 'Page not found'|t }}">
	</div>
{% endblock %}

{% block scripts %}
	<script>
		Bugsnag.notify("503 Server Error", "Something bad happened here. Site down?", {}, "error");
	</script>
{% endblock %}

