<!DOCTYPE html>
<!--

__/\\\________/\\\__/\\\\\\\\\\\\\\\__/\\\________/\\\_
 _\///\\\____/\\\/__\/////////////\\\_\/\\\_____/\\\//__
  ___\///\\\/\\\/_______________/\\\/__\/\\\__/\\\//_____
   _____\///\\\/_______________/\\\/____\/\\\\\\//\\\_____
    _______\/\\\______________/\\\/______\/\\\//_\//\\\____
     _______\/\\\____________/\\\/________\/\\\____\//\\\___
      _______\/\\\__________/\\\/__________\/\\\_____\//\\\__
       _______\/\\\________/\\\/____________\/\\\______\//\\\_
        _______\///________\///______________\///________\///__

If you like looking at code, check out our job openings!
→ y7k.com/jobs

-->
<html class="no-js">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

	{% if templateName != "error" %}
		{# SEO #}
		{% include 'partials/_seo' %}
		{# Favicons #}
		{% include 'partials/_meta' %}
	{% endif %}


	{# Google Fonts #}
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	{# Site CSS #}
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

	<script src="/assets/js/vendor/modernizr.custom.23763.js"></script>

</head>
<body data-template="{{ templateName is defined ? templateName : '' }}" class="{{ templateName is defined ? templateName : '' }}">


	{% block logo %}
		<div class="logo-container">
			<a href="{{ siteUrl }}" class="odp-logo"></a>
		</div>
	{% endblock %}

	{% block navigation %}
		{% set entryId = (entry is defined) ? entry.id : null %}
		{% include 'partials/_navigation' with {entryId: entryId} %}
	{% endblock %}

	<main id="content" role="main">
		{% block content %}{% endblock %}
	</main>

	<script src="/assets/js/all.js"></script>
	{% block scripts %}{% endblock %}

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		{# GA onedayportray #}
		ga('create', 'UA-65211071-1', 'auto');
		ga('send', 'pageview');

		{# GA Y7K #}
		ga('create', 'UA-67260683-1', 'auto');
		ga('send', 'pageview');
	</script>

</body>
</html>