{% extends "_layout" %}

{% set templateName = "about" %}

{% block content %}

    <article class="about">

        <h2 class="about__title">{{ entry.title }}</h2>

        <div class="about-body">

            {% for block in entry.about %}

                {% switch block.type %}

                    {% case "text" %}

                        <div class="about-body__block about-body__block__text">

                            {{ block.text }}

                        </div>

                    {% case "image" %}

                        {% set image = block.image.first() %}

                        <div class="about-body__block about-body__block__image about-image">
                            <div class="image-element">
                                <div class="image-element__wrapper" style="
                                        {#width: {{ image.getWidth() }}px;#}
                                        {#height: {{ image.getHeight() }}px;#}
                                        ">
                                    <img
                                            src="{{ image.getUrl('large') }}"
                                            alt="{{ image.imageCaption }}"
                                            >
                                </div>
                            </div>
                        </div>

                {% endswitch %}


            {% endfor %}

        </div>

        {% include 'partials/_footer' %}

    </article>

{% endblock %}
