{% extends "_layout" %}

{% set templateName = "archive" %}

{% block content %}

    <section class="archive">

        {% cache %}

            {% for group in entry.archive %}

                {% if group.articles|length %}

                    <div class="article-group">
                        <h2 class="article-group__title">{{ group.groupName }}</h2>
                        <div class="archive-group__articles article-grid">
                            {% for article in group.articles %}
                                {% include 'partials/_linkblock' with {article: article} %}
                            {% endfor %}
                        </div>

                        <div class="article-group__spacer clearfix"></div>
                    </div>

                {% endif %}

            {% endfor %}

        {% endcache %}

        {% include 'partials/_footer' %}

    </section>

{% endblock %}
