{% extends "_layout" %}

{% set templateName = "about" %}

{% block content %}

    <article class="about">

        <h2 class="about__title">{{ entry.title }}</h2>

        <div class="about-body">

            <div class="about-body__block about-body__block__text">
                {{ entry.body }}
            </div>
        </div>

        {% include 'partials/_footer' %}

    </article>

{% endblock %}
