{% extends "_layout" %}

{% set templateName = "home" %}

{% block navigation %}

    <div class="od-navigation navigation--home navigation--white navigation--absolute">
        {% import 'partials/_navigation' as Navigation %}
        {{ Navigation.navigation_menu(entry.id) }}
    </div>

{% endblock %}

{% block content %}
    
    <section class="article-cards" id="article-cards" style="background-color: {{ entry.backgroundColor }};" data-home-color="{{ entry.backgroundColor }}">

        {% set articles = craft.entries.section('article').order('lft desc') %}
        {% set firstArticle = articles.last() %}

        <div class="odp-home-logo"></div>

        <div class="article-meta fade-out" id="article-meta">
            <h1 class="article-meta__title"><a href="{{ firstArticle.url }}">{{ firstArticle.title }}</a></h1>
            <p class="article-meta__location">{% include 'partials/_location' with { locations : firstArticle.articleLocations } %}</p>
        </div>

        {% for article in articles %}
            <article class="article-card swing-card is-on-pile" data-article-url="{{ article.url }}" data-article-color="{{ article.articleColor }}">
                <div class="article-card__cover swing-cover" style="background-image: url('{{ article.cover.first().getUrl('homepage') }}');">
                    {% if article.nightPortray %}
                        <div class="article-card__cover__night-portray"></div>
                    {% endif %}
                </div>
                <div class="article-card__meta">
                    <h1 class="article-meta__title"><a href="{{ article.url }}">{{ article.title }}</a></h1>
                    <p class="article-meta__location">{% include 'partials/_location' with {locations : article.articleLocations} %}</p>
                </div>
            </article>
        {% endfor %}


        <div class="article-cards__tooltip" id="article-tooltip-wrapper">
            <span class="article-cards__tooltip-span" id="article-tooltip">
                {{ "Drag"|t }}
            </span>
        </div>

        {#<div class="article-link__wrapper">#}
            {#<a id="article-link" class="article-link__button" href="{{ firstArticle.url }}">{{ "Read Portrait"|t }}</a>#}
            {#<svg class="article-link__arrow" width="10px" height="15px" viewBox="0 0 10 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
                {#<defs></defs>#}
                {#<g id="01" stroke="#FFFFFF" stroke-width="2">#}
                    {#<path d="M1.03225806,6.12903226 L6.78921583,0.372074746" transform="translate(3.935484, 3.225806) scale(-1, 1) translate(-3.935484, -3.225806) " id="Line"></path>#}
                    {#<path d="M1.03225806,11.9354839 L6.78921583,6.17852636" id="Line-Copy" transform="translate(3.935484, 9.032258) scale(-1, -1) translate(-3.935484, -9.032258) "></path>#}
                {#</g>#}
            {#</svg>#}
        {#</div>#}


    </section>

{% endblock %}