
.article-body {
  @include outer-container;
  margin-top: 60px;

}

.article-body__block {
  @include omega();

  &__text {
    @include span-columns(8);
    @include shift(3);

    margin-bottom: em(24);
    font-size: em(18);

    p {
      margin-bottom: em(24);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100%;
    }

    @media print {
      font-size: em(11);
    }

    @include media($article-tablet) {
      @include span-columns(6);
      @include shift(0);
    }

  }

  &__image {
    @include span-columns(12);

    margin-top: 20px;
    margin-bottom: 40px;

    @media print {
      margin-bottom: 20px;
    }

    @include media($article-tablet) {
      @include span-columns(6);
    }

    @media print {
      @include span-columns(8);
      @include shift(2);
    }

    .image-element {

      max-height: 640px;
      max-width: 100%;
      text-align: center;

      &__wrapper {
        img {
          max-height: 640px;
          max-width: 100%;
          object-fit: contain;
        }
      }

    }

    .image-caption {
      font-family: $f-inkwell-regular;
      font-size: em(14);
      letter-spacing: 0.044em;
      color: $od-grey;
      line-height: em(22);
      min-height: em(22);
      margin: 18px auto 18px auto;
      text-align: center;

      @include media($article-mobile) {
        font-size: em(12);
      }
      @include media($mobile) {
        font-size: em(10);
      }
      @media print {
        font-size: em(10);
      }

    }


  }

}

// remove space between two images
.article-body__block__image + .article-body__block__image {
  margin-top: 0;
}

.article-body__block {

  &__text {

    &--first-paragraph {
      @include shift(0);
    }

    &--disable-margin {
      margin-top: em(-28);

      &.article-body__block__text--first-paragraph {
        margin-top: 0;
      }

    }

    &__floating-image {
      @include shift-in-context(-3 of 8);
      box-sizing: content-box;
      float: left;
      text-align: right;
      width: 408px;

      img {
        max-width: 378px;
        padding: 8px 30px 0 0;
      }

      @media print {
        width: 300px;

        img {
          max-width: 270px;
          padding: 8px 30px 0 0;
        }
      }


      @include media($article-tablet) {
        @include shift-in-context(0);
      }

      @include media($article-mobile) {
        @include span-columns(6);
        @include shift-in-context(0);
        text-align: center;

        img {
          padding: 0;
          margin-bottom: 20px;
        }
      }



    }
  }

  &__quote {
    @include span-columns(10);
    @include shift(1);

    page-break-inside: avoid;

    margin-top: 14px;
    margin-bottom: 48px;

    text-align: center;
    line-height: 1.075;
    font-size: em(40);
    font-family: $f-inkwell-regular;

    opacity: 0;
    @media print {
      opacity: 1;
    }

    &.fade-in {
      opacity: 1;
      transition: opacity 1s ease;
    }

    @include media($article-mobile) {
      @include span-columns(6);
      @include shift(0);
      font-size: em(30);
    }

  }

  &__soundcloud {
    @include span-columns(10);
    @include shift(1);

    @media print {
      display: none;
    }

    @include media($article-tablet) {
      @include span-columns(6);
      @include shift(0);
    }

    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__youtube {
    @include span-columns(10);
    @include shift(1);

    @media print {
      display: none;
    }

    @include media($article-tablet) {
      @include span-columns(6);
      @include shift(0);
    }

    margin-top: 20px;
    margin-bottom: 44px;

    .youtube__video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;

      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__gallery {
    @include span-columns(12);

    @include media($article-tablet) {
      @include span-columns(6);
    }

    @media print {
      @include span-columns(8);
      @include shift(2);
    }

  }

  &__profile {
    @include span-columns(8);
    @include shift(3);

    font-family: $f-inkwell-regular;
    //line-height: (22/18);

    @include media($article-tablet) {
      @include span-columns(6);
      @include shift(0);
    }

    @media print {
      display: none;
    }

  }

  &:last-child {
    margin-bottom: 65px;
  }

}
