
article.portray {
  height: 100%;
  margin-bottom: 40px;
}

.portray__cover {
  @include od-cover;
}

.portray__cover__night-portray {
  position: absolute;
  bottom: 32px;
  height: 57px;
  left: 32px;
  font-family: $f-inkwell-regular;
  color: #fff;
  font-size: em(17);
  line-height: em(22);
  background: url("../images/night_icon.png") no-repeat left top;
  background-size: contain;
  padding-left: 72px;
  padding-top: 16px;
}