.article-footer {


  @include outer-container(em(964));

  text-align: center;
  border-top: 1px solid $od-light-grey;
  //margin-top: 20px;
  //margin-bottom: 40px;
  padding: 40px 0;
  font-family: $f-inkwell-regular;


  @media print {
    display: none;
  }

  &__headline {
    color: $od-grey;
    line-height: (28/24);
    font-size: em(24);

    @include media($article-mobile) {
      font-size: em(18);
    }
  }

  &__share-links {
    line-height: em(28);
    font-size: em(24);

    a {
      margin: 0 15px;
      white-space: nowrap;
    }

    @include media($article-mobile) {
      font-size: em(18);
    }

  }

}

.article-footer--reccomendations {
  padding-bottom: 0;
}