
.article-gallery__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 66.66%; /* 16:9 */
  margin-bottom: 74px;
  margin-top: 20px;

  page-break-inside: avoid;

  @media print {
    margin-bottom: 30px;
    margin-top: 30px;
  }


  //max-height: 640px;
  //padding-bottom: 34px;
}



.article-gallery {
  //height: 674px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.gallery__cell {

  width: 100%;
  //padding-bottom: 66.66%;

  @media print {
    display: none;
    &:first-child {
      display: block;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    padding-bottom: 66.66%;


    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

  }

}

.gallery__count {
  position: absolute;
  bottom: -32px;
  right: 0;
  font-family: $f-inkwell-regular;
  font-size: em(14);
  line-height: em(22);
  letter-spacing: 0.044em;

  @media print {
    display: none;
  }

}

.gallery__caption {

  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  font-family: $f-inkwell-regular;
  font-size: em(14);
  line-height: em(22);
  letter-spacing: 0.044em;
  color: $od-grey;
  height: em(22);
  @include calc(max-width, "100% - 40px");
  text-align: center;


  @media print {
    font-size: em(10);
    height: auto;
    position: relative;
  }


  @include media($article-mobile) {
    font-size: em(12);
  }

  @include media($mobile) {
    font-size: em(10);
  }

}

.gallery__arrow {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(100%,-50%);
  cursor: pointer;

  @include media($article-gallery-break) {
    display: none;
  }

  @media print {
    display: none;
  }

  &.gallery__prev {
    right: auto;
    left: -30px;
    transform: translate(-100%,-50%);
  }

}

.gallery__clickarea {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  z-index: 10;
}