.article__header {
 @include od-title-container;
}

.article__header__lead {
  @include span-columns(10);
  @include shift(1);

  letter-spacing: 0.02em;
  line-height: 1.6666;
  font-size: em(27);
  margin-top: 60px;

  @include media($article-mobile) {
    @include span-columns(6);
    @include shift(0);
    font-size: em(22);
  }

  @media print {
    font-size: em(18);
  }
}
