.article-footer__recommended_articles {
  margin: 20px auto;
}

.article-block {
  width: 313px;
  height: 70px;
  text-align: left;
  display: block;
  float: left;
  max-width: 100%;
  flex-wrap: nowrap;

  margin-bottom: 24px;

  a {
    margin: 0;
    border: none;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}

.article-block:hover {
  .article-block__head {
    color: lighten($od-grey, 25%);
  }
}

.article-block__cover {
  width: 70px;
  height: 70px;
  display: inline-block;
  border: none;
  margin: 0;
}

.article-block__head {
  width: calc(100% - 70px - 12px);
  height: 70px;
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: $od-grey;
  font-family: $f-inkwell-regular;
  transition: color .1s ease-out;

  &__title {
    font-size: em(18);
    line-height: 1.2;
    max-height: 44px;
    overflow: hidden;
    margin: -3px 0 0 0;
    position: relative;

    @include media($mobile){
      font-size: 5vw;
      max-height: 12vw;
    }
  }

  &__location {
    font-size: em(14);
    display: inline-block;
    line-height: 1;
    margin-top: 10px;
    width: 100%;

    @include media($mobile){
      font-size: 4vw;
    }
  }

}

.article-block__night-portray {
  position: absolute;
  top: -8px;
  left: -8px;
  height: 25px;
  width: 25px;
  background: url("../images/night_icon.png") no-repeat left top;
  background-size: contain;
}