
.article-body__meta {
  @include span-columns(3);

  @include media($article-tablet) {
    @include span-columns(6);
  }
}

.meta-entry {

  line-height: em(22);
  font-family: $f-inkwell-regular;
  margin-top: em(15);

  page-break-inside: avoid;

  &:first-child {
    margin-top: 2px;
  }

  a {
    line-height: em(22);
  }

  &__tagline {
    font-size: em(13);

    @media print {
      font-size: em(11);
    }

  }

  &__entry {
    font-size: em(18);

    @media print {
      font-size: em(14);
    }

  }

}