
$profile-modal-width: 500px;
$profile-modal-border-side: 20px;
$profile-modal-border-top: 150px;
$profile-modal-border-top-mobile: 20px;


.article-profile {
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  @media print {
    display: block;
    position: relative;
  }
}

.article-profile__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $od-grey;
  background-color: rgba($od-grey, 0);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  page-break-before: always;

  @media print {
    position: relative;
    background-color: rgba($od-grey, .3);
    margin-top: 100px;
  }
}

.article-profile__modal-wrapper {
  position: absolute;
  width: $profile-modal-width + 2 * $profile-modal-border-side;
  max-width: 100%;
  min-height: 100%;
  left: 50%;
  padding: $profile-modal-border-top $profile-modal-border-side;

  page-break-before: always;
  display: block;

  @include media($mobile) {
    padding: $profile-modal-border-top-mobile $profile-modal-border-side;
  }

  transition: all 0.6s cubic-bezier(0.4, 0, 0.14, 0.99);
  transform: translate(-50%, 100%);

  @media print {
    position: relative;
    transform: translate(-50%,0);
    padding: ($profile-modal-border-top / 3) $profile-modal-border-side;
  }

}

.article-profile__modal {
  width: 100%;
  padding: 54px 60px 32px 60px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;

  @media print {
    padding-top: 32px;
  }
}

.article-profile__headline {
  font-family: $f-inkwell-regular;
  font-size: em(13);
  line-height: 1.7;

  @media print {
    font-size: em(9);
  }
}

.article-profile__entry {
  font-size: em(18);
  line-height: 1.66;
  margin-bottom: 22px;

  @media print {
    font-size: em(11);
    margin-bottom: 11px;
  }
}

.aricle-profile__modal__close {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 35px;
  right: 35px;

  transition: transform .2s ease-out;

  &:hover{
    transform: scale(.8,.8);
  }

  @media print {
    display: none;
  }

}

.article-profile__title {

  font-family: $f-inkwell-regular;
  font-size: em(18);
  line-height: 1;
  padding-bottom: 40px;

  @media print {
    display: inline-block;
  }

}


body.disable-scroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}