{% if entry.profile|length %}

    <div class="article-profile is-hidden" id="article-profile">
        <div class="article-profile__overlay">
            <div class="article-profile__modal-wrapper" id="article-profile-wrapper">
                <div class="article-profile__modal">
                    <h1 class="article-profile__title is-hidden" style="color: {{ entry.articleColor }};">{{ entry.profileName }} </h1>

                    {% for profile in entry.profile %}
                        <div class="article-profile__headline" style="color: {{ entry.articleColor }};">{{ profile.entryTitle }}</div>
                        <div class="article-profile__entry">{{ profile.entryText }}</div>
                    {% endfor %}
                    <div class="aricle-profile__modal__close" id="article-profile-modal-close">
                        <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <g id="Close" stroke="{{ entry.articleColor }}" stroke-width="2">
                                    <path d="M1,1 L29,29"></path>
                                    <path d="M29,1 L1,29"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="article-body__block article-body__block__profile" style="color: {{ entry.articleColor }};">
        <p>
            {% if entry.profileName %}
                {{ "Want to know more about {Name}?"|translate({ 'Name': entry.profileName }) }}
            {% else %}
                {{ "Want to know more?"|t }}
            {% endif %}
            {% include 'profile/_profile-link' with { gender: entry.profileGender } %}
        </p>
    </div>

{% endif %}