<a href="#" class="article-profile-open">
    {% switch gender %}
        {% case 'Female' %}
            {{ 'Read her Profile'|t }}
        {% case 'Male' %}
            {{ 'Read his Profile'|t }}
        {% default %}
            {{ "Read their Profile"|t }}
    {% endswitch %}
</a>